/*
	Vertical Accordions
*/

.accordion_toggle {
	display: block;
	height: 30px;
	width: 680px;
	background: url(images/accordion_toggle.jpg) no-repeat top right #a9d06a;
	padding: 0 10px 0 10px;
	line-height: 30px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	font-size: 12px;
	color: #000000;
	border-bottom: 1px solid #cde99f;
	cursor: pointer;
	margin: 0 0 0 0;
}

.accordion_toggle_active {
	background: url(images/accordion_toggle_active.jpg) no-repeat top right #e0542f;
	color: #ffffff;
	border-bottom: 1px solid #f68263;
}

.accordion_content {
	background-color: #ffffff;
	color: #444444;
	overflow: hidden;
}
	
	.accordion_content h2 {
		margin: 15px 0 5px 10px;
		color: #0099FF;
	}
	
	.accordion_content p {
		line-height: 150%;
		padding: 5px 10px 15px 10px;
	}
	
.vertical_accordion_toggle {
	display: block;
	height: 30px;
	width: 600px;
	background: url(images/accordion_toggle.jpg) no-repeat top right #a9d06a;
	padding: 0 10px 0 10px;
	line-height: 30px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	font-size: 12px;
	color: #000000;
	border-bottom: 1px solid #cde99f;
	cursor: pointer;
	margin: 0 0 0 0;
}

.vertical_accordion_toggle_active {
	background: url(images/accordion_toggle_active.jpg) no-repeat top right #e0542f;
	color: #ffffff;
	border-bottom: 1px solid #f68263;
}

.vertical_accordion_content {
	background-color: #ffffff;
	color: #444444;
	overflow: hidden;
}

	.vertical_accordion_content h2 {
		margin: 15px 0 5px 10px;
		color: #0099FF;
	}

	.vertical_accordion_content p {
		line-height: 150%;
		padding: 5px 10px 15px 10px;
	}
		
/*
	Horizontal Accordion
*/

.horizontal_accordion_toggle {
	/* REQUIRED */
	float: left;	/* This make sure it stays horizontal */
	/* REQUIRED */

	display: block;
	height: 100px;
	width: 30px;
	background: url(images/h_accordion_toggle.jpg) no-repeat top left #a9d06a;
	color: #ffffff;
	text-decoration: none;
	outline: none;
	border-right: 1px solid #cde99f;
	cursor: pointer;
	margin: 0 0 0 0;
}

.horizontal_accordion_toggle_active {
	background: url(images/h_accordion_toggle_active.jpg) no-repeat top left #e0542f;
	border-right: 1px solid #f68263;
}

.horizontal_accordion_content {
	/* REQUIRED */
	height: 100px;	/* We need to define a height for the accordion as it stretches the width */
	float: left;	/* This make sure it stays horizontal */
	/* REQUIRED */
	
	overflow: hidden;
	background-color: #ffffff;
	color: #444444;
}
	
	.horizontal_accordion_content p {
		width: 450px;
		line-height: 150%;
		padding: 5px 10px 15px 10px;
	}
			
			
/* Container styling*/
#horizontal_container {
  margin: 20px auto 20px auto;
  width: 680px;   
  height: 100px;    
}

#vertical_nested_container {
  margin: 20px auto 20px auto;
  width: 620px;
}

*, html, body {
margin:0pt;
padding:0pt;
}
html {
height:100%;
}
body {
background:#171B20 none repeat scroll 0% 0%;
color:#FFFFFF;
font-family:'Lucida Grande',Verdana,Arial;
font-size:12px;
height:100%;
}
h1 {
color:#96BF55;
font-size:20px;
font-weight:normal;
margin:5px 0pt;
text-align:left;
}
h1 span {
color:#FFFFFF;
font-size:20px;
font-weight:normal;
margin:5px 5px 5px 0pt;
text-align:left;
}
.description {
color:#FFFFBE;
font-size:12px;
line-height:18px;
padding:5px 0pt 15px;
}
#container {
margin:20px auto 0pt;
width:700px;
}
#top_container {
height:130px;
margin:10px auto;
width:680px;
}
#bottom_container {
clear:both;
width:700px;
}
.page-top {
background-color:#0099FF;
border-bottom:5px solid #444444;
height:10px;
left:0pt;
position:fixed;
top:0pt;
width:100%;
}
.page-sidebar {
left:20px;
position:fixed;
top:30px;
width:250px;
}
* html .page-sidebar {
left:20px;
position:absolute;
top:30px;
width:250px;
}
.page-title {
margin:0pt;
padding:0pt 0pt 10px;
text-align:left;
}
.page-title h1 {
margin:0pt 0pt 5px;
}
.page-title h2 {
clear:both;
color:#FFFF99;
font-size:100%;
font-weight:normal;
margin:0pt;
}
.page-body {
margin:0pt 10% 0pt 315px;
padding:30px 0pt 20px;
text-align:left;
width:600px;
}
.page-footer {
font-size:10px;
margin:20px 0pt 0pt;
text-align:left;
}
.page-body ul, .page-body ol {
color:#FFFFFF;
margin:10px 0pt 30px 25px;
}
.page-body ul li, .page-body ol li {
color:#CCCCCC;
font-size:100%;
line-height:140%;
margin:0pt 0pt 5px;
padding:0pt;
}
.page-footer p {
margin:0pt;
}
.page-title h1 span {
color:#FFFFFF;
font-size:100%;
font-weight:normal;
margin:5px 0pt 15px;
text-align:left;
}
a, a:link, a:visited {
color:#0099FF;
}
h2 {
color:#0099FF;
font-size:150%;
font-weight:normal;
margin:5px 0pt 15px;
text-align:left;
}
h2 span {
clear:both;
color:#FFFF99;
font-size:70%;
}
.notice {
background-color:#0099FF;
border:3px solid #FFFFBE;
color:#FFFFFF;
margin:0pt 0pt 20px;
padding:10px;
}
.notice p, .notice p a, li a {
color:#FFFFFF;
text-decoration:none;
}
.navigation {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:10px 0pt 30px;
width:200px;
}
.navigation li {
margin:0pt;
padding:0pt;
}
.navigation a, .navigation a:visited {
background-color:#333333;
border-bottom:3px solid #171B20;
color:#FFFFFF;
display:block;
height:25px;
line-height:25px;
padding:0pt 10px;
text-decoration:none;
}
.navigation a:hover {
background-color:#A9D06A;
color:#000000;
}
a.page-options {
background:#A9D06A none repeat scroll 0% 0%;
border-bottom:1px solid #555555;
color:#000000;
display:block;
margin:3px 0pt 0pt;
padding:5px;
text-align:left;
text-decoration:none;
}
a.page-options:hover, a.page-options:focus {
background:#0099FF none repeat scroll 0% 0%;
color:#FFFFFF;
}
p small, li small {
color:#0099FF;
font-size:100%;
}
p em, em {
color:#FFFFFF;
}
.hidden {
display:none;
}
pre {
background:#000000 none repeat scroll 0% 0%;
font-size:11px;
margin:10px 0pt;
overflow:auto;
padding:10px;
}
code {
background:#000000 none repeat scroll 0% 0%;
color:#FFFFFF;
font-family:Monaco,Courier,monotype;
}
code span.comment {
color:#BD48B3;
}
code span.string {
color:#99FF00;
}
code span.brackets {
}
code span.symbol {
color:#6BCFF7;
}
code span.keywords {
color:#FF8400;
}
code span.erb {
background:#333333 none repeat scroll 0% 0%;
}
code span.symbol {
color:#07DFFC;
}
code.html span.tag {
color:#FFFFFF;
}
code.html span.attribute {
color:#FFD500;
}
code.html span.string {
color:#99FF00;
}
code.html span.comment {
color:#999999;
}
code.html span.doctype {
color:#D7FF80;
}